In [1]:
import pandas as pd

In [2]:
df = pd.read_html("https://finance.yahoo.com/quote/PHP%3DX/history?p=PHP%3DX")[0]

In [3]:
df

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Jan 19, 2021",48.0500,48.0740,48.0200,48.0550,48.0550,-
1,"Jan 18, 2021",48.0120,48.0760,47.9184,47.9275,47.9275,-
2,"Jan 15, 2021",47.9480,48.1200,47.8957,48.0050,48.0050,-
3,"Jan 14, 2021",48.0160,48.0950,47.8720,47.9260,47.9260,-
4,"Jan 13, 2021",48.0650,48.0800,47.9002,48.0700,48.0700,-
...,...,...,...,...,...,...,...
96,"Sep 06, 2020",48.6350,48.6850,48.5230,48.5750,48.5750,-
97,"Sep 03, 2020",48.7200,48.7200,48.4532,48.7150,48.7150,-
98,"Sep 02, 2020",48.5930,48.6500,48.3950,48.6000,48.6000,-
99,"Sep 01, 2020",48.5030,48.7000,48.4700,48.5600,48.5600,-
100,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...

In [4]:
df.drop([0,100])

            Date     Open     High      Low   Close* Adj Close** Volume
1   Jan 18, 2021  48.0120  48.0760  47.9184  47.9275     47.9275      -
2   Jan 15, 2021  47.9480  48.1200  47.8957  48.0050     48.0050      -
3   Jan 14, 2021  48.0160  48.0950  47.8720  47.9260     47.9260      -
4   Jan 13, 2021  48.0650  48.0800  47.9002  48.0700     48.0700      -
5   Jan 12, 2021  48.0180  48.1000  47.9199  48.0080     48.0080      -
..           ...      ...      ...      ...      ...         ...    ...
95  Sep 07, 2020  48.5450  48.6650  48.3900  48.5300     48.5300      -
96  Sep 06, 2020  48.6350  48.6850  48.5230  48.5750     48.5750      -
97  Sep 03, 2020  48.7200  48.7200  48.4532  48.7150     48.7150      -
98  Sep 02, 2020  48.5930  48.6500  48.3950  48.6000     48.6000      -
99  Sep 01, 2020  48.5030  48.7000  48.4700  48.5600     48.5600      -

[99 rows x 7 columns]

In [5]:
df = df.head(30).sort_values(by='Date')

In [ ]:
df=df.astype({"Open":'float',
             "High":'float',
             "Low":'float',
             "Close*":'float',
             "Adj Close**":'float',
             "Volume":'float'})

In [ ]:
df = df.head(10).sort_values(by='Date')

In [ ]:
df = df.astype({"Open" : 'float',
             "High" : 'float',
             "Low" : 'float',
             "Close*" : 'float',
             "Adj Close**" :'float',
             "Volume" : 'float'})

In [ ]:
df = df.head(10).sort_values(by='Date')

In [6]:
df=df.astype({"Open":'float',
             "High":'float',
             "Low":'float',
             "Close*":'float',
             "Adj Close**":'float'})

In [7]:
df

            Date    Open    High      Low   Close*  Adj Close** Volume
29  Dec 09, 2020  48.180  48.180  47.9193  48.2300      48.2300      -
28  Dec 10, 2020  48.250  48.260  47.9204  48.2500      48.2500      -
27  Dec 11, 2020  48.240  48.240  47.9243  48.2400      48.2400      -
26  Dec 14, 2020  48.120  48.170  47.8920  48.0168      48.0168      -
25  Dec 15, 2020  48.013  48.190  47.6300  48.1400      48.1400      -
24  Dec 16, 2020  48.048  48.179  47.9450  47.8880      47.8880      -
23  Dec 17, 2020  48.150  48.150  47.9103  47.9252      47.9252      -
22  Dec 18, 2020  48.090  48.120  47.9178  48.0900      48.0900      -
21  Dec 21, 2020  48.068  48.326  47.7150  47.9559      47.9559      -
20  Dec 22, 2020  48.160  48.320  47.9501  48.1600      48.1600      -
19  Dec 23, 2020  48.230  48.260  47.9100  48.2300      48.2300      -
18  Dec 24, 2020  48.120  48.140  47.2790  47.9266      47.9266      -
17  Dec 25, 2020  48.050  48.080  47.9069  48.0500      48.0500      -
16  Dec 28, 2020  48.035  48.066  47.8465  48.0050      48.0050      -
15  Dec 29, 2020  48.070  48.070  47.8922  47.9050      47.9050      -
14  Dec 30, 2020  48.100  48.103  47.8932  48.1000      48.1000      -
13  Dec 31, 2020  48.070  48.110  47.8884  48.0700      48.0700      -
12  Jan 01, 2021  48.070  48.083  47.8955  48.0700      48.0700      -
11  Jan 04, 2021  48.004  48.060  47.8850  48.0800      48.0800      -
10  Jan 05, 2021  48.040  48.125  47.9121  47.9100      47.9100      -
9   Jan 06, 2021  48.100  48.105  47.9227  48.1000      48.1000      -
8   Jan 07, 2021  48.090  48.220  47.9202  48.0900      48.0900      -
7   Jan 08, 2021  48.175  48.180  47.9462  48.1650      48.1650      -
6   Jan 11, 2021  48.074  48.190  48.0027  47.9337      47.9337      -
5   Jan 12, 2021  48.018  48.100  47.9199  48.0080      48.0080      -
4   Jan 13, 2021  48.065  48.080  47.9002  48.0700      48.0700      -
3   Jan 14, 2021  48.016  48.095  47.8720  47.9260      47.9260      -
2   Jan 15, 2021  47.948  48.120  47.8957  48.0050      48.0050      -
1   Jan 18, 2021  48.012  48.076  47.9184  47.9275      47.9275      -
0   Jan 19, 2021  48.050  48.074  48.0200  48.0550      48.0550      -

In [8]:
df.corr()

                 Open      High       Low    Close*  Adj Close**
Open         1.000000  0.603375  0.065259  0.641251     0.641251
High         0.603375  1.000000 -0.067463  0.393742     0.393742
Low          0.065259 -0.067463  1.000000  0.188447     0.188447
Close*       0.641251  0.393742  0.188447  1.000000     1.000000
Adj Close**  0.641251  0.393742  0.188447  1.000000     1.000000

In [9]:
df['Gain'] = df['Close*'] = df['Open']

In [10]:
df

            Date    Open    High      Low  Close*  Adj Close** Volume    Gain
29  Dec 09, 2020  48.180  48.180  47.9193  48.180      48.2300      -  48.180
28  Dec 10, 2020  48.250  48.260  47.9204  48.250      48.2500      -  48.250
27  Dec 11, 2020  48.240  48.240  47.9243  48.240      48.2400      -  48.240
26  Dec 14, 2020  48.120  48.170  47.8920  48.120      48.0168      -  48.120
25  Dec 15, 2020  48.013  48.190  47.6300  48.013      48.1400      -  48.013
24  Dec 16, 2020  48.048  48.179  47.9450  48.048      47.8880      -  48.048
23  Dec 17, 2020  48.150  48.150  47.9103  48.150      47.9252      -  48.150
22  Dec 18, 2020  48.090  48.120  47.9178  48.090      48.0900      -  48.090
21  Dec 21, 2020  48.068  48.326  47.7150  48.068      47.9559      -  48.068
20  Dec 22, 2020  48.160  48.320  47.9501  48.160      48.1600      -  48.160
19  Dec 23, 2020  48.230  48.260  47.9100  48.230      48.2300      -  48.230
18  Dec 24, 2020  48.120  48.140  47.2790  48.120      47.9266      -  48.120
17  Dec 25, 2020  48.050  48.080  47.9069  48.050      48.0500      -  48.050
16  Dec 28, 2020  48.035  48.066  47.8465  48.035      48.0050      -  48.035
15  Dec 29, 2020  48.070  48.070  47.8922  48.070      47.9050      -  48.070
14  Dec 30, 2020  48.100  48.103  47.8932  48.100      48.1000      -  48.100
13  Dec 31, 2020  48.070  48.110  47.8884  48.070      48.0700      -  48.070
12  Jan 01, 2021  48.070  48.083  47.8955  48.070      48.0700      -  48.070
11  Jan 04, 2021  48.004  48.060  47.8850  48.004      48.0800      -  48.004
10  Jan 05, 2021  48.040  48.125  47.9121  48.040      47.9100      -  48.040
9   Jan 06, 2021  48.100  48.105  47.9227  48.100      48.1000      -  48.100
8   Jan 07, 2021  48.090  48.220  47.9202  48.090      48.0900      -  48.090
7   Jan 08, 2021  48.175  48.180  47.9462  48.175      48.1650      -  48.175
6   Jan 11, 2021  48.074  48.190  48.0027  48.074      47.9337      -  48.074
5   Jan 12, 2021  48.018  48.100  47.9199  48.018      48.0080      -  48.018
4   Jan 13, 2021  48.065  48.080  47.9002  48.065      48.0700      -  48.065
3   Jan 14, 2021  48.016  48.095  47.8720  48.016      47.9260      -  48.016
2   Jan 15, 2021  47.948  48.120  47.8957  47.948      48.0050      -  47.948
1   Jan 18, 2021  48.012  48.076  47.9184  48.012      47.9275      -  48.012
0   Jan 19, 2021  48.050  48.074  48.0200  48.050      48.0550      -  48.050